
.main{
    max-width: 960px;
    padding: 0 5% 80px;
    margin: auto;
}
figure{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

main>h1{
    font-size: 3rem;
}