
.main{
    max-width: 960px;
    margin: 60px auto;
    min-height: 70vh;
    padding: 100px 5% 80px;

}
figure{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}